<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <title>Exemplo vue js</title>
    <meta charset="utf-8">
  </head>

  <body>
    <div id="app">
        <h1> {{titulo}} </h1>
        <label for="">Titulo</label><br>
        <input type="text" v-model="titulo">
        <br><br>
        <label for="">Paragrafo</label><br>
        <input type ="text" v-model ="paragrafo">
        <br><br>
        

        <head>
          <title>Botão Contador</title>
          <script>
              var contador = 0;
      
              function incrementar() {
                  contador++;
                  document.getElementById("contador").innerHTML = contador;
              }
          </script>
      </head>
      
      <body>
          <h1>Botão Contador</h1>
          <p>Clique no botão para incrementar o contador:</p>
          <button onclick="incrementar()">Clique aqui</button>
          <p>Contador: <span id="contador">0</span></p>
      </body>
        
        
      <label for="">Nome</label><br>
      <input type="text" v-model="nome">
      <br><br>
      <label for="">Formulario o que deseja</label><br>
      <input type="checkbox" value="Filme" v-model="formulario"> Filme<br>
      <input type="checkbox" value="Serie" v-model="formulario"> Serie<br>
      <input type="checkbox" value="Novela" v-model="formulario"> Novela<br>

      <br><br>
      <label for="">Escolha serie não escolhe novela nem filme pelo amor de deus</label><br>
      <select v-model="escolha">
          <option value="The walking">The walking</option>
          <option value="GOT">GOT</option>
          <option value="The last">The last</option>
      </select>

      <br><br>

      

      <hr>

        Titulo: {{ titulo }} <br>
        Paragrafo: {{ paragrafo }}<br>
        Nome: {{ nome }} <br>
        Formulario: {{ formulario }} <br>
        Formulario o que deseja: {{ escolha }} <br>
    </div>

	<script src="https://cdn.jsdelivr.net/npm/vue@2"></script>

	<script>
        var app = new Vue({
            el: "#app",
            data:{
                titulo: "Aula de Vue Js!",
                paragrafo: "  ",
                nome: "",
                formulario: [],
                escolha: ""
            }
        })
    </script>
  </body>
</html>
